.root {
  border-radius: 80px;
  border: 1px solid;
  color: var(--color-secondary);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.4em 1.8em;
  text-decoration: none;
  background: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.root:hover {
  opacity: .8;
}

.primary {
  color: var(--color-primary);
}

.blank {
  border: none;
  background: transparent;
  padding-left: 0;
}

.full {
  width: 100%;
}

.inverted {
  background: var(--color-secondary);
  font-size: .9rem;
  border-radius: 4px;
  color: white;
}
