.root {
  padding-top: 3rem;
  text-align: left;
  background: white;
  z-index: 9;
  position: relative;
  border-top: 2px solid var(--color-secondary);
  padding-bottom: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
}

@media(min-width: 900px) {
  .root {
    margin-top: -10rem;
  }
}

.subhead {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  text-align: center;
}

@media(min-width: 900px) {
  .subhead {
    letter-spacing: 2.5rem;
    margin-bottom: 4rem;
    font-size: 3.7rem;
  }
}

.smallWrap {
  max-width: 1000px;
  margin: auto;
  lost-utility: clearfix;
}

@media(min-width: 900px) {
  .smallWrap p {
    font-size: 1.35rem;

  }
}

.smallWrap p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 2.8em;
  position: relative;
  padding-top: 1rem;
  vertical-align: middle;
  font-size: 1.1rem;
  line-height: 1.7;
}

.emoji {
  display: none;
}

@media(min-width: 900px) {
  .emoji {
    display: inline-block;
    font-size: 3rem;
    margin-left: -3.1ch;
    margin-right: 1.11ch;
    margin-top: 1.5rem;
    top: 2.4rem;
    vertical-align: middle;
    line-height: 0;
  }
}



.link {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-secondary);
  border-bottom: 3px solid #cacaca;
  text-decoration: none;
}

.link:hover {
  border-bottom-color: var(--color-secondary);
}
